# .env
PORT=10006
GPU_ID=0

HALF_PRECISION=0
SCHEDULER_TYPE=dpmsolver++
GUIDANCE_SCALE=4.0
NUM_INFERENCE_STEPS=22

VALIDATION_ENABLE=1
VLD_MAX_RETRIES=3
VALIDATION_SAMPLE_VIEWS=4
VALIDATION_THRESHOLD=0.7

VALIDATOR_URL_TXT=http://localhost:8094/validate_txt_to_3d_ply/
VALIDATOR_URL_IMG=http://localhost:8094/validate_img_to_3d_ply/
