# .env
PORT=10006
GPU_ID=0
GUIDANCE_SCALE=4.5
NUM_INFERENCE_STEPS=28
VALIDATION_ENABLE=1
VALIDATION_SAMPLE_VIEWS=4
VALIDATION_THRESHOLD=0.65

VALIDATOR_URL=http://localhost:8094/validate_txt_to_3d_ply/
